@model eMag2.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<section id="productInfo">
    <div class="container" style="background: white; margin-top: 5rem;">
        <div class="row mx-5">
            <h1>@Model.Name</h1>
            <p class="small text-muted">@Model.InternalCode</p>
            <hr/>
        </div>
        <div class="row mx-5">
            <div class="col-md-6">
                <img src="@Url.Content(Model.ImagePath)" alt="@Model.Name" class="img-responsive"/>
            </div>
            <div class="col-md-4">
                Customers reviews
                <div class="my-2">
                    @{
                        var rating = Model.Rating; // Aici se inlocuieste cu ratingul total al produsului
                        for (int i = 0; i < 5; i++)
                        {
                            if (i <= (rating - 0.5))
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                        @Model.Rating
                    }
                </div>
                <div>
                    @if (@Model.CommentCount == 0)
                    {
                        <a href="#reviewsSection">Leave a review!</a>
                    }
                    else if (@Model.CommentCount == 1)
                    {
                        <a href="#reviewsSection">View @Model.CommentCount review</a>
                    }
                    else
                    {
                        <a href="#reviewsSection">View @Model.CommentCount reviews</a>
                    }
                </div>
                <div class="my-4">
                    <span class="text-muted">Sold by: </span>@Model.SoldBy
                </div>
                <div class="col-md-9"><i class="fas fa-truck-moving"></i> Standard delivery</div>
                <div class="col-md-offset-9">
                    @if (@Model.FullPrice > 2000)
                    {
                        <span class="text-success">No Costs</span>
                    }
                    else
                    {
                        <span class="text-warning">18 Lei</span>
                    }
                </div>
                <hr/>
                <div>
                    <i class="fas fa-box"></i><span> Open package upon delivery</span><br />
                    <i class="fas fa-award"></i>
                    <span> 30 days money back guarantee</span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row"> </div>

    </div>
</section>
<section id="reviewsSection"></section>