@model eMag2.ViewModels.EditReviewViewModel

@{
    ViewBag.Title = "title";

}
<h2>Edit a Review</h2>
<section>
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("ConfirmReviewEdit", "Manager", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Comment)
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", id = "editor" })
                    @Html.ValidationMessageFor(m => m.Comment)
                </div>
                @Html.HiddenFor(r=>r.UserId)
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Save</button>
            }
        </div>
    </div>
</section>

@section scripts
{
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
}