@using eMag2.Models
@model IEnumerable<eMag2.Models.Product>

@{
    ViewBag.Title = "title";
}

<h2>Pending Products</h2>
<section>
    <div class="container">
        <div class="row">
            @{ var productsPerRow = 1; }
            @foreach (var product in Model)
            {
                if (product.Posted == 0)
                {
                    if (productsPerRow <= 3)
                    {
                        <div class="text-center col-md-4" style="padding-top: 2rem; padding-left: 0.5rem; padding-right: 0.5rem; padding-bottom: 1rem; margin-bottom: 0.5rem; background: white; min-height: 439px;">
                            <div>
                                <img src="@Url.Content(product.ImagePath)" alt="@product.Name" height="167" width="167"/>
                            </div>
                            <div>
                                @{
                                    var rating = product.Rating;
                                    for (var i = 0; i < 5; i++)
                                    {
                                        if (i <= (rating - 0.5))
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                    }
                                    @product.Rating
                                }
                            </div>
                            @Html.ActionLink(@product.Name, "Details", "Manager", new {id = product.Id}, null)
                            <p>by @product.SoldBy</p>
                            @if (product.NumberInStock > 10)
                            {
                                <p class="small text-success">Sufficient stock</p>
                            }
                            else if (product.NumberInStock > 3)
                            {
                                <p class="small text-warning">Limited availability</p>
                            }
                            else
                            {
                                <p class="small text-danger">Only @product.NumberInStock left in stock - order soon</p>
                            }
                            @if (product.DiscountedPrice != 0)
                            {
                                <del>
                                    @product.FullPrice <span class="small">Lei</span>
                                </del>
                                <p>
                                    @product.DiscountedPrice <span>Lei</span>
                                </p>
                            }
                            else
                            {
                                <p></p>
                                <p>
                                    @product.FullPrice <span>Lei</span>
                                </p>
                            }

                            @Html.ActionLink("Approve Product", "ApproveProduct", "Manager", new {@product.Id}, new {@class = "btn btn-success"})
                            @Html.ActionLink("Deny Product", "DenyProduct", "Manager", new {@product.Id}, new {@class = "btn btn-danger"})
                        </div>
                        productsPerRow++;
                    }
                    if (productsPerRow > 3)
                    {
                        <div class="row"></div>
                        productsPerRow = 1;
                    }
                }
            }
        </div>
    </div>
</section>